<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- The port the server will be listening on -->
    <add key="Port" value="11000" />
    <!-- Socket's queue size for incoming connections (see https://goo.gl/IIFY20) -->
    <add key="QueueSize" value="100" />
    <!-- Absolute path to the folder where incoming/converted file will be cached; leave it blank to use the default system temporary folder -->
    <add key="CachePath" value="" />
    <!-- Number of Office instances to launch at startup in order to support parallel conversions -->
    <add key="ConvertersPoolSize" value="3" />
    <!-- Key to use CloudConvert APIs, needed for regular PDF conversion; see https://cloudconvert.com/ -->
    <add key="CloudConvertKey" value="zSOdJP2QupwbNgSCO7cq2sWlhIKqiU28-tRDnUF1-T40Q8lYOWSp_u4l2Sms-oJzdYlM3LsW6gx0FO88KXAQAw" />
    <!-- Absolute path to the Omnipage OCR Console executable, needed for scanned files conversion -->
    <add key="OCRConsolePath" value="C:\Program Files (x86)\OCR Console\OcrCon.exe" />
  </appSettings>
</configuration>