<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- The port the server will be listening on -->
    <add key="Port" value="11000" />
    <!-- Socket's queue size for incoming connections (see https://goo.gl/IIFY20) -->
    <add key="QueueSize" value="100" />
    <!-- Absolute path to the folder where incoming/converted file will be cached; leave it blank to use the default system temporary folder -->
    <add key="CachePath" value="" />
    <!-- Number of Office instances to launch at startup in order to support parallel conversions -->
    <add key="ConvertersPoolSize" value="3" />
    <!-- Key to use CloudConvert APIs, needed for regular PDF conversion; get it at https://cloudconvert.com/user/profile -->
    <add key="CloudConvertKey" value="YOUR-PERSONAL-API-KEY" />
    <!-- Absolute path to the Omnipage OCR Console executable, needed for scanned files conversion -->
    <add key="OCRConsolePath" value="C:\Program Files (x86)\OCR Console\OcrCon.exe" />
  </appSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %-5level [%thread] (%logger{1}) %message%newline%exception" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="7" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %-5level [%thread] (%logger{1}) %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>